* {
  box-sizing: border-box;
}
.login {
  background-image: url("./assets/stacked-peaks-haikei.svg");
}
.posts {
  transition: 0.2s;
}
/* Customize scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  background-color: #d75050;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

::-webkit-scrollbar-corner {
  background-color: #f4f4f4;
}
